//Phrase welcome user
.welcome{
    text-align: center;
    margin-bottom: 8%;
}

//Title of section "Mes recettes"
.my-recipes__title{
    text-align: center;
    font-size: $medium-font-size;
    color: $dark-green;
    margin-bottom: 5%;
}

.my-recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $light-green;
    margin-top: 4%;
//Name of my recipe
    &__title{
        margin-top: 2%;
    }
}

.fa{
    color: $very-dark-green;
    font-size: $XL-font-size;
}


//Button to add a new recipe
.propose-recipe{
    width: 60%;
    padding: 2%;
    display: block;
    margin: auto;
    margin-top: 10%;
    color: $dark-green;
    border: solid;
}

//RESPONSIVE VERSION FOR TABLET AND DESKTOP
@media (min-width: $breakpoint-medium-tab) {
    .welcome{
        font-size: $XL-font-size !important;
        margin-top: 15%;
    }

    .my-recipe{
        padding: 1%;
    }
    .my-recipes__title{
        font-size: $XL-font-size;
    }

    .my-recipe__title{
        font-size: $XL-font-size;
        margin-top: 4%;
    }

    .fa-eye{
        font-size: $XXL-font-size;
    }

    .fa-edit{
        font-size: $XXL-font-size;
    }

    .fa-trash{
        font-size: $XXL-font-size;
    }


    .propose-recipe{
        font-size: $large-font-size;
        margin-bottom: 10%;
    }
}