//Main colors
$light-green: #bef3d1;
$pale-green: #a1e8a1;
$medium-green: #3f8e65;
$dark-green: #295429;
$cyan: #95d3aa;
$very-dark-green: #0e480e;
$transparantize-green: #2954295e;

//Fonts family
$title-font: 'Cookie';
$normal-font: 'Caudex', serif;

//Fonts size
$normal-font-size: 15px;
$medium-font-size: 18px;
$large-font-size: 22px;
$XL-font-size: 32px; 
$extra-large-font-size: 40px;
$XXL-font-size: 50px;
$desktop-font-size: 60px;

//Breakpoints
$breakpoint-motorola-phone: 360px;
$breakpoint-iphone-medium: 375px;
$breakpoint-iphone-large: 410px;
$breakpoint-medium-tab: 768px;
$breakpoint-large-tab: 1024px;
$breakpoint-desktop: 1200px;



