//Menu for mobile : button exit
.ui-button {
    color:$dark-green;
    font-size: 3rem;
    position: relative;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%; 
}

.ui-button:hover {
    color:$medium-green;
}